// main: ../../merge.less

 
     
main-grid {
    grid-row-start: 3; 
    grid-row-end: 4;
    flex-grow: 10;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 150px auto;
   
    grid-template-rows: auto;
    background-color: #212121; // height: ~"calc(100vh - 180px)";
    >* {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .option-mode {
        display: none;

        grid-column-start: 3;
        grid-column-end: 4;
        z-index: 100;
        background-color: #efefef;
    }
    >aside:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    &.show-option {
        .option-mode{
            display: block
        }
        grid-template-columns: 150px auto 500px;
    }
}
